/* css_v_01.css */

/*202100960 송민관의 css 파일*/

html {
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 150%;
}

body {

    display: grid;
    grid-template-columns: 1.5fr 8.5fr;
    grid-template-rows: auto auto;
    grid-template-areas: "nav_2 section"
        "footer footer";

    /* gap: 5px; */

    /* min-height: 100vh; */
    margin: 0px;
    padding: 0;
    height: 100%;
    width: 100%;

    background-color: beige;

    overscroll-behavior: none;


}

header {

    grid-area: header;
    width: 100%;
    /* height: 15%; */
    background-color: antiquewhite;

}

nav_1 {

    grid-area: nav_1;
    width: 100%;
    /* height: 15%; */
    background-color: rgb(159, 118, 198);
    /* float: inline-start; */
    /* clear: both; */

    /* justify-content: space-evenly;*/

}

/* #nav_1_ul {

    justify-content: space-evenly;

} */

#nav_1_ul li {

    display: inline-block;
    margin-left: 2%;
    margin-right: 2%;

    /* height: 100%; */

    font-size: 2vw;

    text-shadow: 0.2rem 0.2rem 0.1rem rgba(0, 0, 0, 0.214);

    transition: font-size 1s;

}

#nav_1_ul li:hover {

    transform: translate(-5px, -5px);
    font-size: 150%;
}

#nav_1_position_fixer {

    -webkit-position: sticky;
    position: sticky;
    top: 0px;
    /* right: 85.5%; */
    /* padding-left: 0.5%; */

}

a:visited {
    color: #551A8B
}

a:link {
    color: #551A8B
}

nav_2 {

    grid-area: nav_2;
    /* width: 15%; */
    /* height: 100vh; */
    background-color: darksalmon;
    /* float: inline-start; */

    /* overflow: auto; */

}

nav_2>#nav_2_position_fixer {

    -webkit-position: sticky;
    position: sticky;
    top: 10px;
    right: 85.5%;
    padding-left: 0.5%;

}

#clock1,
#clock2 {

    color: transparent;

    background-image: linear-gradient(to top, rgba(26, 255, 0, 0.774), white);
    background-clip: text;
    -webkit-background-clip: text;

    /* text-shadow: 0.2rem 0.2rem 0.1rem black; */

}

#clock1_div,
#clock2_div {

    background-image: linear-gradient(20deg, white, transparent 60%);
    padding-bottom: 0.01rem;
}

#main_logo_1 {

    text-decoration-line: overline underline;

    align-items: center;
    text-align: center;

}

.title_shadow {

    background-image: linear-gradient(to bottom right, white, transparent 40%);
    padding-bottom: 0.01rem;

    border-radius: 0.5rem;

    display: grid;
    grid-template-columns: 9fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "title_1 title_2";

}
/* .title_shadow > div {

} */

section {

    grid-area: section;
    /* width: 70%; */
    /* height: auto; */
    background-color: beige;
    /* float: left; */
    /* overflow: scroll; */

    /* margin-left: 1%;
    margin-right: 1%; */

}

aside {

    grid-area: aside;
    /* width: 15%; */
    /* height: 100vh; */
    background-color: azure;
    /* float: left; */

    padding-right: 1%;

}

footer {

    grid-area: footer;
    /* width: 100%; */
    /* height: 10%; */
    background-color: coral;
    /* float: inline-start; */
    /* clear: both; */

}

/* nav>ul {} */

li {

    transition: font-size 0.5s;

}

li:hover {

    background-color: aqua;
    font-size: 150%;

}

li:active {

    background-color: rgb(6, 221, 221);
    font-size: 150%;

}

article {

    background-color: mediumaquamarine;
    /* width: 100%;
    height: 100%; */

    /* margin-left: 1%;
    margin-right: 1%; */

    margin: 1%;

    padding: 0.5%;

    border-radius: 0.5rem;

    scroll-margin-top: 6.5rem;

}

article .DAW {

    border-radius: 0.5rem;
    padding: 0.5rem;
    text-align: justify;
    margin-top: 1rem;

    display: inline-block;

}

.DAW {

    width: auto;
    height: auto;

    background-color: burlywood;

    clear: both;

}

.DAW>figure {

    float: inline-start;
    width: 15%;
    height: auto;
    background-color: burlywood;

}

.DAW>figure>img {

    width: 100%;
    height: 100%;

}

article .notebook {

    border-radius: 0.5rem;
    padding: 0.5rem;
    text-align: justify;
    margin-top: 1rem;

    display: inline-block;

}

.notebook {

    width: 98%;
    height: auto;

    background-color: burlywood;

    clear: both;

}

.notebook>figure {

    float: inline-start;
    width: 15%;
    height: auto;
    background-color: burlywood;

}

.notebook>figure>img {

    width: 100%;
    height: 100%;

}

article[id="today_music"] {

    background-color: azure;

    margin: auto;

}
article[id="about_music_1"] {

    background-color: azure;

    margin: auto;

}
article[id="daw_tips_1"] {

    background-color: azure;

    margin: auto;

}
article[id="about_laptop_1"] {

    background-color: azure;

    margin: auto;

}

figcaption {

    background-color: rgb(38, 35, 35);
    color: white;
    padding: 3px;
    text-align: center;

    width: auto;
    height: auto;

}

.button_1 {

    padding: 1%;
    border-radius: 0.2rem;
    border-width: 0.2rem;
    border-style: dotted;

    background-color: coral;
}